<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/uikit.min.js"></script>
    </head>
    <body>
		<nav class="uk-navbar">
		
			<ul class="uk-navbar-nav">
				<li class="uk-active"><a href="">Active</a></li>
				<li><a href="">Item</a></li>
				<li class="uk-parent" data-uk-dropdown>
					<a href="">Parent</a>

					<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-header">Header</li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Another item</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="#">Separated item</a></li>
						</ul>
					</div>

				</li>
			</ul>
	
			<div class="uk-navbar-flip">
			<ul class="uk-navbar-nav">
				<li class="uk-parent" data-uk-dropdown>
				<a href="#">admin</a>
				<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="#">Item</a></li>
						</ul>
					</div>
				</li>
					</ul>
			</div>
	
		</nav>
		<div class="uk-grid">
    <div class="uk-width-medium-1-2">
<div class="uk-panel">
    <div class="uk-panel-badge uk-badge">badge</div>
    <h3 class="uk-panel-title">tit</h3>
    this is titit
</div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
    <h3 class="uk-panel-title"><i class="uk-icon-home"></i> home</h3>
	<p>this is comment<p>
</div>
    </div>
</div>

		<ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
			<li class="uk-active"><a href="">item1</a></li>
			<li><a href="">item2</a></li>
			<li class="uk-parent">
				<a href="#">parent</a>
				<ul class="uk-nav-sub">
					<li><a href="">sub1</a></li>
					<li><a href="">sub2</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a href="#">parent2</a>
				<ul class="uk-nav-sub">
					<li><a href="">sub1</a></li>
					<li><a href="">sub2</a></li>
				</ul>
			</li>
		</ul>


	
	
 <button class="uk-button" data-uk-offcanvas="{target:'#offcanvas-1'}">Off-canvas</button>

	<div id="offcanvas-1" class="uk-offcanvas">

		<div class="uk-offcanvas-bar">

			<ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
				<li><a href="">Item</a></li>
				<li class="uk-active"><a href="">Active</a></li>

				<li class="uk-parent">
					<a href="#">Parent</a>
					<ul class="uk-nav-sub">
						<li><a href="">Sub item</a></li>
						<li><a href="">Sub item</a>
							<ul>
								<li><a href="">Sub item</a></li>
								<li><a href="">Sub item</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="uk-parent">
					<a href="#">Parent</a>
					<ul class="uk-nav-sub">
						<li><a href="">Sub item</a></li>
						<li><a href="">Sub item</a></li>
					</ul>
				</li>

				<li><a href="">Item</a></li>

				<li class="uk-nav-header">Header</li>
				<li class="uk-parent"><a href=""><i class="uk-icon-star"></i> Parent</a></li>
				<li><a href=""><i class="uk-icon-twitter"></i> Item</a></li>
				<li class="uk-nav-divider"></li>
				<li><a href=""><i class="uk-icon-rss"></i> Item</a></li>
			</ul>

		</div>

	</div>
	

	<ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
				<li><a href="">Item</a></li>
				<li class="uk-active"><a href="">Active</a></li>

				<li class="uk-parent">
					<a href="#">Parent</a>
					<ul class="uk-nav-sub">
						<li><a href="">Sub item</a></li>
						<li><a href="">Sub item</a>
							<ul>
								<li><a href="">Sub item</a></li>
								<li><a href="">Sub item</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="uk-parent">
					<a href="#">Parent</a>
					<ul class="uk-nav-sub">
						<li><a href="">Sub item</a></li>
						<li><a href="">Sub item</a></li>
					</ul>
				</li>

				<li><a href="">Item</a></li>

				<li class="uk-nav-header">Header</li>
				<li class="uk-parent"><a href=""><i class="uk-icon-star"></i> Parent</a></li>
				<li><a href=""><i class="uk-icon-twitter"></i> Item</a></li>
				<li class="uk-nav-divider"></li>
				<li><a href=""><i class="uk-icon-rss"></i> Item</a></li>
			</ul>

	
    </body>
</html>