{% extends '__base__.html' %}

{% block title %}控制台{% endblock %}

{% block beforehead %}

	<!--  人脸检测js  -->
    <script src="../static/js/ccv.js"></script>
    <script src="../static/js/jquery.facedetection.js"></script>
    <script src="../static/js/cascade.js"></script>
	<!--  标记css  -->
	<style type="text/css">
        .drawDiv{
            position: absolute;
            border: 3px solid red;
        }

    </style>

{% endblock %}

{% block content %}

	<!--  控制台模式 选择模块 -->
		<hr>
		<div class="uk-button-group">
			<button class="uk-button">控制台</button>
			<div data-uk-dropdown="{mode:'click'}">
				<button class="uk-button"><i class="uk-icon-caret-down"></i></button>
				<div class="uk-dropdown uk-dropdown-small">
					<ul class="uk-nav uk-nav-dropdown">
						<li><a href="#">人脸识别</a></li>
						<li><a href="#">巡线</a></li>
						<li><a href="#">人脸跟随</a></li>
						<li><a href="#">避障</a></li>
						<li><a href="#">遥控</a></li>
						<li class="uk-nav-divider"></li>
						<li><a href="#">自动演示</a></li>
					</ul>
				</div>
			</div>
		</div>

	<!--  视图区： 摄像头视频区|控制面板区|图像信息区|状态信息文本区 -->			
		<div class="uk-grid uk-grid-small" data-uk-grid-margin>
		<!-- 视频区 -->
			<div class="uk-width-7-10 uk-text-center">
				<div class="uk-panel uk-panel-box">

					<video style="margin-right: 2px; border-right: 1px solid gray" autoplay id="sourcevid0" width="400" height="300"></video>
					<canvas style="margin-left: 2px; border-left: 1px solid gray" id="output0" width="400" height="300"></canvas>

				</div>
			</div>
		<!-- 控制区 -->
			<div id="vm" class="uk-width-3-10">
				<div class="uk-panel uk-panel-box">
				
					<form style="background-color:white">
						<table id="table" width="400" height="300" align="center">
							<tr>
								<td></td><td><img v-bind:src="src8" @mousedown="src8=srcd" @mouseup="src8=srcu" @click="state=8,get()" /></a></td><td></trd>
							</tr>
							<tr>
								<td><img img v-bind:src="src4" @mousedown="src4=srcd" @mouseup="src4=srcu" @click="state=4,get()" /></td><td><img img v-bind:src="src5" @mousedown="src5=srcd" @mouseup="src5=srcu" @click="state=5,get()" /></td><td><img img v-bind:src="src6" @mousedown="src6=srcd" @mouseup="src6=srcu" @click="state=6,get()" /></trd>
							</tr>
							<tr>
								<td></td><td><img img v-bind:src="src2" @mousedown="src2=srcd" @mouseup="src2=srcu" @click="state=2,get()"/></td><td></trd>
							</tr>
						</table>
					</form>
					
				</div>
			</div>
		<!-- 图像区 -->
			<div class="uk-width-7-10 uk-text-center">
				<div class="uk-panel uk-panel-box">
				
					<canvas style="background-color:white" id="output1" width="810" height="240"></canvas>
				
				</div>
			</div>
		<!-- 文本区 -->
			<div class="uk-width-3-10">
				<div class="uk-panel uk-panel-box">
					<form style="background-color:white">
						<canvas id="text" width="320" height="240"></canvas>
					</form>
				</div>
			</div>
		<!-- 标记区 -->
			<div class="marks">
			</div>
		</div>

{% endblock %}	

{% block js0 %}

	<!--  打开摄像头以及处理  -->
		<script type="text/javascript" charset="utf-8">

			var back = document.getElementById('output0');
			var back1 = document.getElementById('output1');
			var text = document.getElementById('text');
			var backcontext = back.getContext('2d');
			var ctx = back1.getContext('2d');
			var te_tx = text.getContext('2d');
			var video = document.getElementsByTagName('video')[0];

			var vm=new Vue({
				el:'#vm',
				data:{
					src8:'../static/img/0.jpg',
					src2:'../static/img/0.jpg',
					src4:'../static/img/0.jpg',
					src6:'../static/img/0.jpg',
					src5:'../static/img/0.jpg',
					srcd:'../static/img/1.jpg',
					srcu:'../static/img/0.jpg',
					urlS:'/api/status/state/',
					state:0,
					urlP:'/api/status/position/',
					pos:'',
				},
				mounted:function(){
					this.get();
				},
				methods:{										
					get:function(){
						var urlS=this.urlS+this.state;
						this.$http.get(urlS).then(function(res){
							//console.log(res.bodyText);
						},function(){
							console.log("网络出现问题...");
						});
					},
					position:function(){
						var urlP=this.urlP+pos;
						this.$http.get(urlP).then(function(res){
							//console.log(res.bodyText);
						},function(){
							console.log("网络出现问题...");
						});
					}
				}
			});

			var str='';
			var pos='';
			var count=0;

			//绘图初始化
			var step=2;
			var x=back1.width/2;
			var y=back1.height/2;
			var xa=ya=0;

			var init = function(){
				ctx.beginPath();
	    		ctx.arc(x, y, 5, 0, 2*Math.PI, false);
	    		ctx.fill();
				ctx.moveTo(x,y);
				pos="("+x+","+y+")";
				te_tx.font="30px Arial";
			}

			var run = function(){
				move(vm.state);
				//console.log(vm.state);
				show_text();
				setTimeout(run,211);
			}

			var show_text = function(){
				pos="("+(x-back1.width/2)+","+(back1.height/2-y)+")";
				te_tx.clearRect(0,0,text.width,text.height);
				te_tx.fillText(pos,0,30);
				vm.pos=pos;
				vm.position();
			}

			var move = function(i){
				switch(i){
					case 0: m_reset();break;
					case 5: m_stop();break;
					case 8: m_up();break;
					case 2: m_down();break;
					case 4: m_left();break;
					case 6: m_right();break;
					default:break;
				}
			}
			var m_reset = function(){
				xa=0;
				ya=0;
				x=back1.width/2;
				y=back1.height/2;
				ctx.clearRect(0,0,back1.width,back1.height);
				init();
			}

			var m_stop = function(){
				xa=0;
				ya=0;
				x+=xa;
				y+=ya;
				ctx.lineTo(x,y);
				ctx.stroke();
			}

			var m_up = function(){
				xa=0;
				ya=-step;
				x+=xa;
				y+=ya;
				ctx.lineTo(x,y);
				ctx.stroke();
			}

			var m_down = function(){
				xa=0;
				ya=step;
				x+=xa;
				y+=ya;
				ctx.lineTo(x,y);
				ctx.stroke();
			}

			var m_left = function(){
				xa=-step;
				ya=0;
				x+=xa;
				y+=ya;
				ctx.lineTo(x,y);
				ctx.stroke();
			}

			var m_right = function(){
				xa=step;
				ya=0;
				x+=xa;
				y+=ya;
				ctx.lineTo(x,y);
				ctx.stroke();
			}

			function change(a){
				a.src="../static/img/1.jpg";
			}
			function change0(a){
				a.src="../static/img/0.jpg";
			}
			
			var success = function(stream){
				video.srcObject = stream;
				//video1.srcObject = stream;
			}

			var draw = function(){
				try{
					backcontext.drawImage(video,0,0, back.width, back.height);
					//backcontext1.drawImage(video1,0,0, back1.width, back1.height);
				}catch(e){
					if (e.name == "NS_ERROR_NOT_AVAILABLE") {
						return setTimeout(draw, 100);
					} else {
						throw e;
					}
				}
				/*if(video.srcObject){
					localStorage.video=back.toDataURL("image/jpeg",0.5);
					localStorage.video1=back1.toDataURL("image/jpeg",0.5);
				}*/
				setTimeout(draw, 100);
			}

			//开始识别
	        var identifyFace = function() {
	        	//console.log(backcontext);
	        	if(!video.srcObject)
	        	{
	        		return setTimeout(identifyFace, 1000);
	        	}
	        	str='';
	        	//console.log(count);
	            $('#output0').faceDetection(
	                function (faces) {
	                	//console.log(faces);
	                	if(faces.length==0){
	                		count++;
	                		if(count>5){
	                			document.getElementsByClassName('marks')[0].innerHTML=str;
	                		}
	                	}else {count=0;}
	                    for (var i=0;i<faces.length;i++) {
	                        //识别结果循环传入方法drawFace
	                        //console.log(i);
	                        drawFace(faces[i].offsetX, faces[i].offsetY, faces[i].width, faces[i].height);
	                    }
	                }
	            );
	            setTimeout(identifyFace, 200);
	        }

	        //图片识别区的x,y轴以及宽高,confidence表示自信程度
	        function drawFace(x,y,width,height){
	 			console.log('('+x+','+y+')');
	            //将框框套上去
	            str+='<div class="drawDiv" style="left:'+x+'px;top:'+y+'px;width:'+width+'px;height:'+height+'px;">'+'</div>'
	            document.getElementsByClassName('marks')[0].innerHTML=str
	        }

			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia ||
			navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.mediaDevices.getUserMedia;
			navigator.getUserMedia({video:true, audio:false}, success, console.log);
			draw();
			identifyFace();
			run();
			init();
		</script>

{% endblock %}	