<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
		<link rel="stylesheet" href="../static/css/components/search.css" />
		<link rel="stylesheet" href="../static/css/components/slideshow.css" />
		<link rel="stylesheet" href="../static/css/components/slidenav.css" />
		<link rel="stylesheet" href="../static/css/components/dotnav.css" />
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/uikit.min.js"></script>
		<script src="../static/js/components/autocomplete.js"></script>
        <script src="../static/js/components/search.js"></script>
		<script src="../static/js/components/slideshow.js"></script>
		<script src="../static/js/components/slideshow-fx.js"></script>

    </head>
    <body>
	
	<!-- 主页和用户中心 导航 -->
		<nav class="uk-navbar">
		
			<ul class="uk-navbar-nav">
				<li><a href="/home"><i class="uk-icon-home"></i> Home</a></li>
			</ul>
	
			<div class="uk-navbar-flip">
				<ul class="uk-navbar-nav">
					<li class="uk-parent" data-uk-dropdown>
						<a href=""><i class="uk-icon-user"></i> admin</a>
						<div class="uk-dropdown uk-dropdown-navbar">
							<ul class="uk-nav uk-nav-navbar">
								<li><a href="#"><i class="uk-icon-sign-out"></i> 登出</a></li>
								<li><a href="#"><i class="uk-icon-gears"></i> 控制台</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
	
		</nav>
	
	<!-- 课程|教学方案|合作单位|产品购买|下载|新闻动态 导航   搜索-->
		<nav class="uk-navbar">
		
			<ul class="uk-navbar-nav">
			
				<li class="uk-parent" data-uk-dropdown>
					<a href="">课程</a>

					<div class="uk-dropdown uk-dropdown-navbar">
						<ul class="uk-nav uk-nav-navbar">
							<li><a href="#">科学</a></li>
							<li><a href="#">文化</a></li>
							<li><a href="#">艺术</a></li>
							<li><a href="#">steam</a></li>
							<li><a href="#">人工智能</a></li>
							<li class="uk-nav-divider"></li>
							<li><a href="#">其他</a></li>
						</ul>
					</div>

				</li>
				
				<li><a href="">教学方案</a></li>
				<li><a href="">合作单位</a></li>
				<li><a href="">产品购买</a></li>
				<li><a href="">下载</a></li>
				<li><a href="">新闻动态</a></li>

			</ul>

			<div class="uk-navbar-flip">
					<div class="uk-navbar-content">
						<form class="uk-search" data-uk-search>
							<input class="uk-search-field" type="search" placeholder="search...">
						</form>
					</div>
			</div>
	
		</nav>
	
	<!--  欢迎页面 幻灯片 -->
		<div class="uk-panel uk-width-3-4 uk-container-center uk-text-center">
			<div class="uk-slidenav-position" data-uk-slideshow>
				<ul class="uk-slideshow">
					<li><img src="../static/img/wel-2.jpg" width="800" height="300" alt=""></li>
					<li><img src="../static/img/wel-1.jpg" width="800" height="300" alt=""></li>
					<li><img src="../static/img/wel-3.jpg" width="800" height="300" alt=""></li>
				</ul>
				<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" style="color: rgba(255,255,255,0.4)"></a>
				<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" style="color: rgba(255,255,255,0.4)"></a>
				<ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
					<li data-uk-slideshow-item="0"><a href="#">Item 1</a></li>
					<li data-uk-slideshow-item="1"><a href="#">Item 2</a></li>
					<li data-uk-slideshow-item="2"><a href="#">Item 3</a></li>
				</ul>
			</div>
		</div>

	<!--  热门课程板块 -->			
		<hr class="uk-article-divider">
	
		<div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-1-7 uk-container-center uk-text-center">
			<h class="uk-h3">热门课程</h>
		</div>

		<div class="uk-panel uk-width-9-10 uk-container-center uk-text-center">
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-1.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">细胞</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-2.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">创意生活</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-3.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">单片机</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-4.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智慧城市</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-5.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智能家居</div>
			</a>
		</div>

	<!--  推荐课程板块 -->			
		<hr class="uk-article-divider">
	
		<div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-1-7 uk-container-center uk-text-center">
			<h class="uk-h3">推荐课程</h>
		</div>

		<div class="uk-panel uk-width-9-10 uk-container-center uk-text-center">
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">细胞</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">创意生活</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">单片机</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智慧城市</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智能家居</div>
			</a>
		</div>

	<!--  免费体验板块 -->			
		<hr class="uk-article-divider">
	
		<div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-1-7 uk-container-center uk-text-center">
			<h class="uk-h3">免费体验</h>
		</div>

		<div class="uk-panel uk-width-9-10 uk-container-center uk-text-center">
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">细胞</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">创意生活</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">单片机</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智慧城市</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/pic.svg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智能家居</div>
			</a>
		</div>		
	
	<!--  近期动态板块 -->			
		<hr class="uk-article-divider">
	
		<div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-1-7 uk-container-center uk-text-center">
			<h class="uk-h3">近期动态</h>
		</div>

		<div class="uk-panel uk-width-9-10 uk-container-center uk-text-center">
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-1.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">细胞</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-2.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">创意生活</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-3.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">单片机</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-4.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智慧城市</div>
			</a>
			<a class="uk-thumbnail" href="#">
				<img src="../static/img/k-5.jpg" width="200" height="100" alt="">
				<div class="uk-thumbnail-caption">智能家居</div>
			</a>
		</div>	
		
	<!--  页脚板块 -->	
		<ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
			<li><a href="">Item</a></li>
			<li class="uk-active"><a href="">Active</a></li>

			<li class="uk-parent">
				<a href="#">Parent</a>
				<ul class="uk-nav-sub">
					<li><a href="">Sub item</a></li>
					<li><a href="">Sub item</a>
						<ul>
							<li><a href="">Sub item</a></li>
							<li><a href="">Sub item</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="uk-parent">
				<a href="#">Parent</a>
				<ul class="uk-nav-sub">
					<li><a href="">Sub item</a></li>
					<li><a href="">Sub item</a></li>
				</ul>
			</li>

			<li><a href="">Item</a></li>

			<li class="uk-nav-header">Header</li>
			<li class="uk-parent"><a href=""><i class="uk-icon-star"></i> Parent</a></li>
			<li><a href=""><i class="uk-icon-twitter"></i> Item</a></li>
			<li class="uk-nav-divider"></li>
			<li><a href=""><i class="uk-icon-rss"></i> Item</a></li>
		</ul>

	
    </body>
</html>