{% extends '__base__.html' %}

{% block title %}用户管理{% endblock %}

{% block beforehead %} {% endblock %}

{% block fun %}

	<!-- 加载用户数据api -->
		var vm=new Vue({
			el:'#vm',
			data:{
				robot:'',
				url:'/api/robots',
				state:1,
				msg:'正在加载...',
			},
			mounted:function(){
				this.get();
			},
			methods:{
				get:function(){
					this.$http.get(this.url).then(function(res){
						console.log(res.bodyText);
						this.robot=res.body.robot;
						this.state=0;
					},function(){
						console.log("网络出现问题...");
						this.msg="网络出现问题...";
						this.state=1;
					});
				}
			}
		});

		var start=function(){
			vm.get();
			setTimeout(start,5000);
		}

		start();
	
{% endblock %}		

{% block content %}
	
	<!-- 用户设备选择板块 -->
	    <div class="uk-width-1-1 uk-margin-bottom">
			<div class="uk-panel uk-panel-box">
				<ul class="uk-breadcrumb">
					<li><a href="/manage/devices">设备</a></li>
					<li><a href="/manage/users">用户</a></li>
					<li class="uk-active"><span>下位机</span></li>
				</ul>
			</div>
		</div>
	
	<!-- 用户管理板块 -->
		<div id="vm">
			<div v-if="state" class="uk-width-1-1 uk-text-center">
				<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> {{ msg }}</span>
			</div>

			<div v-else class="uk-width-1-1">
				<table class="uk-table uk-table-hover">
					<thead>
						<tr>
							<th class="uk-width-4-10">参数</th>
							<th class="uk-width-4-10">状态</th>
						</tr>
					</thead>
					<tbody>
			          <tr v-for="(value,key) in robot" >
			            <td>
			              <span>{{ key }}</span>
			            </td>
			            <td>
			              <span>{{ value }}</span>
			            </td>
			          </tr>
					</tbody>
				</table>
			</div>		
		</div>
{% endblock %}