{% extends '__base__.html' %}

{% block title %}设备注册{% endblock %}

{% block beforehead %} {% endblock %}

{% block fun %}
	<!--  设备注册  -->
		var vm = new Vue({
			el: '#vm',
			data: {
				name: '',
				r_type:'',
				remarks:'',
				url:'/api/devices',
				error:'',
				isHide:'none',
			},
			methods: {
				showError:function(res,message){
					if(res!=null){
						this.error=res.body.message;
					}else{
						this.error=message;
						console.log(this.error);
						this.isHide='block';
					}
					return 0;
				},
				submit: function () {
					if (! this.name.trim()) {
						this.showError(null,'请输入名称');
						return;
					}
					if (!this.r_type.trim()) {
						this.showError(null,'请选择设备类型');
						return;
					}else{
						var data={
							name:this.name.trim(),
							r_type:this.r_type,
							remarks:this.remarks,
						};
						this.$http.post(this.url,data).then(function(res){
							console.log(res);
							if(res.body.error){
								this.showError(res,'');
							}else{
								this.isHide='none';
								location.assign('/manage/devices');
							}
						},function(){
							this.showError(null,'网络出现问题');
						});
					}
				}
			}
		});
	
{% endblock %}

{% block content %}

	<!--  设备板块  -->
	<div class="uk-width-2-3">
		<h1>设备注册</h1>
		<form id="vm"  v-on:submit.prevent class="uk-form uk-form-stacked">
			<div class="uk-alert uk-alert-danger" 
					v-bind:style="{display:isHide}">{{error}}</div>
			
			<div class="uk-form-row">
				<label class="uk-form-lable">设备名：</label>
				<div class="uk-form-controls">
					<input id="device-name" v-model="name" type="text" maxlength="50" placeholder="设备名">
				</div>
			</div>
			
			<div class="uk-form-row">
				<label class="uk-form-lable">设备类型：</label>
				<div class="uk-form-controls">
					<select id="device-type" v-model="r_type">
						<option value="1">单片机</option>
						<option value="2">远程模块</option>
						<option value="3">其他</option>
					</select>
				</div>
			</div>
			
			<div class="uk-form-row">
				<label class="uk-form-lable">备注：</label>
				<div class="uk-form-controls">
					<textarea id="device-remark" v-model="remarks" cols="30" rows="5" placeholder="备注"></textarea>
				</div>
			</div>
			
			<div class="uk-form-row">
				<button @click="submit()" type="submit" class="uk-button uk-button-primary"><i class="uk-icon-registered"></i> 注册</button>
			</div>
			
		</form>
	</div>

{% endblock %}